
h1, 
h2, 
h3,
h4,  
p{
	color: #253036;
	font-family: "helveticaeue", helvetica, arial, sans-serif;
}
h1{
	font-size: 117px;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 40px;
	font-weight: bold;
}
h2{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 18px;
}
h3{
	font-family: Arial, sans-serif;
	font-size: 37px;
	text-align: center;
	padding-top: 70px;
	margin-bottom: 40px;
	font-weight: normal;
}
.container{
	width: 960px !important;
}

/*MENU*/
.menu .navbar-inner{
	background-color: #81cfe7;
	border-bottom: 1px solid #5dbcd9;
	background-image:none;
	box-shadow: none;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#81cfe7', endColorstr='#81cfe7', GradientType=0);
}
.navbar .nav > li > a {
	text-shadow:none;
}
.menu .navbar-inner {
	margin: 0;
}
.menu ul.nav > li > a {
	padding: 20px 10px;
	margin: 0px;
	border-radius: 0px;
	color: #253036;
	font-size: 18px;
}
.menu .nav.pull-right > li > a {
	padding: 13px 6px;
	width: 33px;
	height: 33px;
}
.menu .nav.pull-right > li > a:hover{
	background: transparent;
}
.menu .navbar .nav > li > a:hover {
	background:#5dbcd9;
	color: #daf6ff;
}
.menu .navbar .nav .active > a {
	color: #253036;
	background: transparent;
}
.menu .dropdown-menu {
	background-color: #81cfe7;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	margin: 0;
}
.menu .dropdown-menu a {
	padding: 15px;
	color: #253036;
}
.menu .dropdown-menu li {
	font-size: 16px;
}
.menu .dropdown .caret {
	margin-left: 7px;
}
.menu .navbar .nav li.dropdown .dropdown-toggle .caret, 
.menu .navbar .nav li.dropdown.open .caret {
	border-top-color: #253036;
	border-bottom-color: #253036;
	opacity: 1;
	margin-left: 8px;
}
.menu .navbar .nav li.dropdown .dropdown-toggle:hover .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.menu .navbar .dropdown-menu:after {
	border-bottom: 6px solid #81cfe7;
}
.navbar .dropdown-menu:before {
	top: -8px;
}
.menu .dropdown-menu li > a:hover, 
.menu .dropdown-menu .active > a, 
.menu .dropdown-menu .active > a:hover {
	color: #daf6ff;
	background:#5dbcd9;
}

/*HEADER*/
.convocatoria .header{
	padding-bottom: 40px;
}
.header{
	background-color: #81cfe7;
	border-top: 1px solid #a8deee;
	padding-bottom: 31px;
	margin-top: 60px;
}
.header .accent{
	color: #fff;
}
.header p{
	font-size: 20px;
	text-align: center;
}
.header .date{
	font-size: 28px;
	font-weight: bold;
	margin-top: 44px;
	margin-bottom: 26px;
}
.header a,
.register a{
	padding: 13px 14px;
	display: block;
	width: 30%;
	margin: 0 auto;
	text-decoration: none;
	text-shadow:none;
	font-size: 18px;
	font-weight: bold;
	background-color: #103b53;
	background-image: -ms-linear-gradient(top, #18455e, #0e354a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#18455e), to(#0e354a));
	background-image: -webkit-linear-gradient(top, #18455e, #0e354a);
	background-image: -o-linear-gradient(top, #18455e, #0e354a);
	background-image: -moz-linear-gradient(top, #18455e, #0e354a);
	background-image: linear-gradient(top, #18455e, #0e354a);
	background-repeat: repeat-x;
	border: 1px solid #115275;
	border-color: #115275;
	border-color: rgb(17, 82, 117);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#18455e', endColorstr='#0e354a', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.header a:hover,
.register a:hover{
	background-color: #082535;
	background-position: 0 -48px;
	text-decoration: none;
	-webkit-transition: background-position 0s linear;
	-moz-transition: background-position 0s linear;
	-ms-transition: background-position 0s linear;
	-o-transition: background-position 0s linear;
	transition: background-position 0s linear;
}

/*EVENT-PLACE*/
.event-place{
	background-color: #253036;
}
.event-place p{
	color: #fff;
	text-align: center;
	display: block;
	margin: 17px 0;
	font-weight: bold;
	font-size: 20px;
}

/*CALL*/
.call{
	background: url(../../img/bg-call.jpg) no-repeat top center #253036;
	height:331px;
	padding-top: 55px;
}
.call .row-fluid .span6 {
	width: 48.717949%;
	margin-left: 6px!important;
	margin-right: 6px;
}
.call h3{
	color: #6cdcff;
	font-size: 60px;
	margin-bottom: 60px;
	padding-top: 20px;
	text-shadow: black 0 0 2.2em;
}

.call > p{
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: 20px;
	margin-top: -30px;
	margin-bottom: 33px;
}
.call .day{
	background-color: #151d22;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #0c0c0c;
	font-size: 48px;
	padding: 20px;
}
.call a:hover .day {
	background-color: #0F293A;
	text-decoration:none;	
}
.call a:hover .day p{
	color: #D2F8FF;
	text-decoration:none;	
}
.call a:hover .day-place{
	background-color: #182325;
}
.call .day p{
	margin-top: 13px;
	text-align: center;
	color: #f7f7f7;
	font-weight: bold;
}
.call .day .accent{
	color: #6cdcff;
}
.call .day-place{
	background-color: #1e262b;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #262d32;
	border-left:1px solid #151d22;
	border-bottom:1px solid #151d22; 
	border-right:1px solid #151d22;
	text-align: center;
	vertical-align: middle;
	padding: 8px 0;
}
.call .day-place p{ 
	margin-bottom: 4px;
	color: #f7f7f7;
	font-size: 16px;
}

/*INTRO*/
.convocatoria .intro{
	padding-bottom: 0;
}
.convocatoria .intro-txt h4{
	width:84%;
	margin: 0 auto;
	font-size: 22px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 8px;
}

.intro{
	padding-bottom: 55px;
}
.intro p{
	font-size: 16px;
	line-height: 30px;
	color: #818181;
	width: 84%;
	margin: 0px auto;
}
.intro .accent{
	color: #253036;
}
.intro-txt{
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
}
.intro-txt p[first-child]{
	margin-bottom:20px;
}
.intro .event-day{
	margin-bottom: 12px;
}
.event-content{
	padding-top: 38px;
	width: 96%;
	margin: 0px auto;
	min-height: 434px;
}
.event-content img{
	float: left;
	display: inline;
	max-width: 397px;
	max-height: 388px;
	margin-left: 43px;
}
.content-items{
	float: left;
	width: 45%;
	display: inline;
	margin-left: 35px;
}
.content-items p,
.content-items h4{
	font-size: 16px;
	line-height: 26px;
	margin-left: 10px;
	width: 100%;
}
.introductory-talk{
	background: url(../../img/icon-introductory.png) no-repeat top left transparent;
	padding-left:80px;
	margin-bottom: 42px;
}
.advanced-talk{
	background: url(../../img/icon-advanced.png) no-repeat top left transparent;
	padding-left: 80px;
	margin-bottom: 42px;
}
.workshop{
	background: url(../../img/icon-workshop.png) no-repeat top left transparent;
	padding-left:80px; 
}
/*REGISTER*/
.register{
	background-color: #81cfe7;
	padding-bottom: 40px;
	padding-top: 40px;
}

/*PROGRAM*/
.program .nav-tabs > li > a {
	padding: 18px 0 14px 0;
	margin-right: 0;
	border-radius: 0;
}
.program .nav-tabs > li {
	width: 50%;
}
.program .tabbable span{
	display:block;
	font-size: 	16px;
	color: #253036;
	text-align: center;
	text-transform:uppercase;
}
.program .tabbable .accent{
		color:#49a9c7;
		font-size:22px;
		margin-bottom: 7px; 	
}

.program table{
	margin-top: 40px;
	width:90%;
	margin-left: auto;
	margin-right: auto;
}
.program table tr{
	/*border-bottom: 2px solid #fff;*/
	margin-bottom: 2px;
}
.program table .breaks{
	height: 50px;
	background:url(../../img/bg-table.jpg) repeat top center #f8f8f8;
	text-align: center;
	font-weight: bold;
	color: #727272;
	font-size: 14px;
}
.program table .breaks td{
	border:1px solid #e0e0e0;
}
.program table .breaks th{
	background-color: #a7ddee;
}
.program table .talks th{
	background-color: #81cfe7;
}
.program table .talks{
		height: 85px;
		padding-top:10px;
}
.program table tbody a{
	display: block;	
	width: 60%;
	padding-left: 50px;
	vertical-align: top;
}
/*MAPA*/
.map{
	overflow: hidden;
	background:url(../../img/map_bg.jpg) no-repeat top center #f8f8f8;
	height: 642px;
	position: relative;
	-webkit-box-shadow:inset 0px 1px 8px rgba(50, 50, 50, 0.43);
	-moz-box-shadow:   inset 0px 1px 8px rgba(50, 50, 50, 0.43);
	box-shadow:        inset 0px 1px 8px rgba(50, 50, 50, 0.43);
}
.map .container{
	position: relative;
	width: 770px !important;
}
.map img{
	position:relative;
	text-align: center;
	max-width: 2048px;
}
.map h3{
	display: none;
}
.point-3dic,
.point-4dic{
	z-index: 5;
	position: absolute;
	height: 68px;
	-webkit-box-shadow: 3px 3px 17px rgba(50, 50, 50, 0.43);
	-moz-box-shadow:    3px 3px 17px rgba(50, 50, 50, 0.43);
	box-shadow:         3px 3px 17px rgba(50, 50, 50, 0.43);
}
.point-3dic .marker,
.point-4dic .marker{
	position: relative;
}

.point-3dic{
	top: 458px;
	right: -17px;
}
.point-3dic .point{
	background-image:url(../../img/pointer-3dic.png);
	position: absolute;
	top: -17px;
	left: -21px;
	width: 32px;
	height: 24px;
	z-index: 5;
}
.point-4dic{
	top: 68px;
	right: 189px;
}
.point-4dic .point{
	background-image:url(../../img/pointer-4dic.png);
	position: absolute;
	top: -61px;
	left: -135px;
	width: 30px;
	height: 23px;
	z-index: 5;
}

.map h4{
	border-radius:5px 0 0 5px;
	background-color: #253036;
	color: #6cdcff;
	font-size: 39px;
	display: inline-block;
	float: left;
	padding: 25px 15px;
}
.map .address{
	color:#253036;
	background-color: #fff;
	border-radius: 5px;
	padding: 8px;
	width: 240px;
	margin-left: 107px;
	height: 52px;
}
.map .accent{
	color: #fff;
}
.map p{
	margin-left: 19px;
	line-height: 5px;
	margin-top: 14px;
}

/*SPONSORS*/
.sponsors {
	padding-bottom: 36px;
	border-bottom: 1px solid #ebebeb;
	padding-top: 12px;
}
.sponsors img {
	display: block;
	text-align: center;
}
.convocatoria .sponsors{
	padding-top: 0;
}
.convocatoria .sponsors h4{
	border: none;
	margin-top: 0;
}
.sponsors h4{
	font-size: 25px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: normal;
	clear:both;
	border-top: 1px solid #ebebeb;
	margin-top: 15px;
	padding-top: 33px;
}
.sponsors ul{
	list-style: none;
	width: 100%;
	display: block;
	min-height: 77px;
}
.sponsors ul li{
	width: 185px;
	display: inline-block;
	margin: 0 8px;
	float:left;	
}
.sponsors ul.diammond li{
	width: 332px;
}
.sponsors h3{
	font-size: 30px;
	margin-bottom: 8px;
	padding-top: 36px;
	border-top: 1px solid #ebebeb;
	margin-top: 12px;
}
.sponsors h3:first-child{
	border:none;
}
.sponsors .gold{
	width: 20%;
	margin: 0 auto;
}
.sponsors .diammond{
	width: 36%;
	margin: 0 auto;
	min-height: 120px;
}
.sponsors .organizers{
	width: 63%;
	margin: 0 auto;
}

/*MAIL SPONSOR*/
.mail-sponsor {
	background-color: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 20px;
}
.mail-sponsor h3{
	font-size: 24px;
	padding:11px 0;
	margin:0;
}
.mail-sponsor p{
	font-size: 18px;
	text-align: center;
}
.mail-sponsor .accent{
	color: #17aedd;
}

/*FOOTER*/
.footer{
	background-color:#253036;
	padding-top: 24px;
	padding-bottom: 11px;
}
.footer h3,
.footer p{
	color: #fff;
	text-align: center;
}
.footer h3{
	font-weight: bold;
	font-size: 22px;
	padding: 0;
	margin-bottom: 0px;
}
.footer .title{
	width: 90%;
	margin: 3px auto;
	text-align: center;
}
.footer .title p{
	font-weight: bold;
	font-size: 22px;
	padding: 0;
	display: inline-block;
	margin: 5px 3px;
}

.footer p{
	margin-top: 10px;
	font-size: 16px;
}
.footer .accent{
	color: #6cdcff;
}
.footer .ux-txt{
	font-size: 30px;
	margin-bottom: 0;
}


/*
 * X BROWSER
 */

.ie7 .register .container {
	text-align: center;
}

.ie7 .register a {
	display: inline !important;
}

.ie7 .point-4dic .point{
	left: -145px!important;
}
.ie7 .point-3dic .point{
	top:-19px;
}
.ie7 .map .address{
	height: 38px;
	padding-top: 22px;
}



/*RESPONSIVE*/

@media (max-width: 979px){
	.navbar .container {
		width: 100% !important;
	}
	.menu .nav-collapse .dropdown-menu a {
		padding: 20px 10px;
		color: #253036;
	}
	.menu .navbar .btn-navbar {
		float: left;
		padding: 11px;
		background-color: #253036;
		background-image: -ms-linear-gradient(top, #12415a, #253036);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#12415a), to(#253036));
		background-image: -webkit-linear-gradient(top, #12415a, #253036);
		background-image: -o-linear-gradient(top, #12415a, #253036);
		background-image: linear-gradient(top, #12415a, #253036);
		background-image: -moz-linear-gradient(top, #12415a, #253036);
	}
	.menu .navbar-fixed-top {
		margin-bottom: 0px;
		width: 100%;
		margin: 0;
	}
	.menu .nav-collapse .nav > li {
		border-top: 1px solid #75B5C9;
	}
	.menu .navbar-fixed-top .navbar-inner, 
	.menu .navbar-fixed-bottom .navbar-inner {
		padding: 0px;
	}
	.menu .nav.pull-left{
		margin-top: 10px;
	}
	.menu .nav-collapse .nav {
		margin:0;
	}
	.container {
		width: 100% !important;
	}
	.header {
		margin-top: 0;
	}
	.call .row-fluid .span6 {
		width: 48%;
	}
	.event-content{
		padding-top: 0;
	}
	.event-content img {
		float: none;
		display: block;
		margin: 25px auto;
	}
	.sponsors .diammond {
		width: 342px;
	}
	.sponsors .gold {
		width: 200px;
	}
	.sponsors .organizers {
		width: 197px;
	}
	.content-items {
		width: 84%;
	}
	.introductory-talk,
	.advanced-talk,
	.workshop{
		min-height: 70px;
	}
	.map {
		background-position-x: -680px;
	}
	.point-3dic {
		top: 448px;
		right: 33px;
	}
	.point-4dic {
		top: 78px;
		right: 239px;
	}
	.map {
		background-position-x: 55%;
	}
}

@media (max-width: 767px) { 
	body{
		padding: 0 !important;
	}
	h1 {
		font-size: 103px;
		margin-bottom: 28px;
	}
	h2 {
		font-size: 31px;
		margin-bottom: 24px;
	}
	.header p {
		font-size: 18px;
	}
	.header .date {
		font-size: 25px;
		margin-top: 33px;
		margin-bottom: 24px;
	}
	.header a, 
	.register a {
		width: 40%;
	}
	.convocatoria .header p{
		line-height: 28px;
	}
	.convocatoria .header {
		padding-bottom: 17px;
	}
	.event-place p {
		font-size: 18px;
		line-height: 25px;
	}
	.call {
		height: 340px;
		padding-top: 45px;
	}
	.call h3 {
		font-size: 52px;
		margin-bottom: 21px;
	}
	.call .row-fluid .span6 {
		width: 95%;
		margin: 4px auto !important;
		height: 82px;
	}
	.call .day-place {
		float: left;
		width: 73%;
		border-radius:5px;
		padding: 17px 0;	
		float: none;
		width: 100%
	}
	.call .day {
		float: left;
		border-radius: 5px 0 0 5px;
		font-size: 45px;
		width: 20%;
	}
	.call > p {
		font-size: 16px;
		width: 71%;
		margin: 0 auto;
		line-height: 24px;
		padding-bottom: 20px;
	}
	.call a {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.menu .navbar-fixed-top .navbar-inner, 
	.menu .navbar-fixed-bottom .navbar-inner {
		width: auto;
	}
	.intro h3 {
		line-height: 38px;
	}
	.intro p {
		line-height: 27px;
	}
	.map {
		background-image: none;
		max-height: 369px;
		background-color: transparent;
		box-shadow: none;
		border-bottom: 1px solid #ebebeb;
	}
	.map h3{
		display:block;
		text-align: center;
	}
	.map h4 {
		font-size: 49px;
		padding: 37px 20px;
		color: #253036;
		border-right: 1px solid #C5C5C5;
		background: none;
	}
	.map p {
		margin-left: 160px;
		font-size: 16px;
		line-height: 8px;
	}
	.map .address {
		width: 100%;
		margin-left: 0;
		padding-top: 16px;
		height: 68px;
		background-color: #EEEEEE;
	}
	.map .container {
		position: relative;
		width: 87% !important;
	}
	.map .accent {
		color: #0088cc;
	}
	.point-3dic, .point-4dic {
		box-shadow: none;
		position: static;
		display: block;
		margin-bottom: 40px;
		margin-top: 8px;
	}
	.map .marker {
		display: none;
	}
	.sponsors ul li {
		display: block;
		margin: 0px;
		float: none;
		margin: 0 auto;
	}
	.sponsors img {
		max-width: 96%;
		margin: 0 auto;
		height: auto;
	}
	.sponsors .diammond {
		width: 75%;
		text-align: center;
		margin: 0 auto;
		min-height: 102px;
	}
	.sponsors .diammond img{
		max-width: 80%;
	}
	.sponsors .gold {
		width: 43%;
	}
	.sponsors .organizers {
		width: 43%;
	}
	.footer h3 {
		font-size: 16px;
	}
	.footer .ux-txt {
		font-size: 33px;
	}
	.footer p {
		font-size: 14px;
		margin: 0 auto;
		line-height: 19px;
		width: 70%;
	}
	.footer .title p {
		font-size: 18px;
		margin: 3px 3px;
		width:auto;
	}
}
 
@media (max-width: 480px) {
	h1 {
		font-size: 88px;
		margin-top: 59px;
		margin-bottom: 24px;
	}
	h2 {
		font-size: 27px;
	}
	h3 {
		font-size: 31px;
		line-height: 35px;
		padding-top: 38px;
		margin-bottom: 20px;
	}
	.event-place p {
		font-size: 16px;
	}
	.header .date {
		font-size: 23px;
		text-align: center;
		margin-left: 0;
		margin-bottom: 18px;
		margin-top: 20px;
	}
	.header a, 
	.register a {
		width: 79%;
	}
	.header h2{
		border-bottom: 1px solid	#75B5C9;
		padding-bottom: 13px;
	}
	.header p {
		font-size: 16px;
		line-height: 25px;
		margin: 0;
		text-align: center;
	}
	.convocatoria .header p {
		font-size: 16px;
		line-height: 24px;
		padding: 0 10px;
		text-align: center;
	}
	.event-content img {
		margin: 30px auto;
		width: 100%;
		height: auto;
	}
	.call{
		padding-top: 20px;
	}
	.call .day-place p {
		font-size: 14px;
	}
	.call h3 {
		font-size: 42px;
		margin-bottom: 14px;
	}
	.call > p {
		width: 92%;
	}
	.call .day p {
		margin-top: 12px;
	}
	.call .day {
		font-size: 38px;
	}
	.intro {
		padding-bottom: 28px;
	}
	.content-items {
		width: 91%;
		margin-left: 10px;
	}
	.convocatoria .intro p {
		width: 90%;
	}
	.convocatoria .intro-txt h4 {
		width: 90%;
	}
	.map {
		max-height: 324px;
	}
	.map h4 {
		font-size: 33px;
		padding: 37px 11px;
	}
	.map p {
		margin-left: 102px;
		font-size: 15px;
		line-height: 19px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.map .address {
		padding-top: 27px;
		padding-bottom: 27px;
		height: auto;
	}
	.point-3dic, .point-4dic {
		margin-bottom: 15px;
		margin-top: 8px;
		min-height: 94px;
	}
	.sponsors .diammond {
		width: 90%;
	}
	.sponsors .diammond img {
		max-width: 260px;
	}
	.sponsors ul.diammond li {
		width: 100%;
	}
	.sponsors .gold {
		width: 63%;
	}
	.sponsors .organizers {
		width: 61%;
	}
	.sponsors ul li {
		width: 185px;
		display: block;
		margin: 0 auto;
		float: none;
	}
	.mail-sponsor h3 {
		padding:0;
		font-size: 21px;
	}
	.mail-sponsor p {
		font-size: 16px;
	}
	.footer .ux-txt {
		font-size: 27px;
		display: block;
	}
	.footer h3 {
		font-size: 16px;
		padding: 0;
		margin-bottom: 0px;
		line-height: 25px;
	}
	.footer p {
		font-size: 14px;
		width: 90%;
		margin: 0 auto;
		margin-top: 0px;
	}
	.footer .title p {
		font-size: 16px;
		margin: 0;
	}
	.footer .title{
		margin: 5px auto;
	}
}
@media (max-width: 320px) {
	h1 {
		font-size: 77px;
		margin-top: 37px;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 24px;
	}
	.header .date {
		font-size: 23px;
		text-align: center;
	}
	.header a, 
	.register a {
		width: 79%;
	}
	.header h2{
		border-bottom: 1px solid	#75B5C9;
		padding-bottom: 18px;
	}
	.header p {
		font-size: 16px;
		line-height: 25px;
		text-align: left;
		margin-left: 10px;
	}
	.convocatoria .intro-txt h4 {
		width: 91%;
	}
	.convocatoria .header p {
		font-size: 14px;
		margin-bottom: 0;
	}
	.convocatoria .header {
		padding-bottom: 28px;
	}
	.convocatoria .event-place p {
		font-size: 12px;
		width: 100%;
		margin: 12px auto;
		font-weight: bold;
		line-height: 23px;
	}
	.event-place p {
		font-size: 16px;
		width: 300px;
		margin: 17px auto;
		line-height: 23px;
	}
	.call > p {
		font-size: 15px;
		line-height: 20px;
	}
	.call {
		height: 369px;
		padding-top: 19px;
		background:none;
		background-color: #2B414D;
	}
	.call .day {
		font-size: 32px;
		padding: 22px 12px;
		width: 22%;
	}
	.call .day-place {
		padding: 20px 0;
		margin-bottom: 11px;
		padding: 27px 0;
		height: 28px;
	}
	.call .row-fluid .span6 {
		margin: 9px auto !important;
	}
	.call .day-place p {
		font-size: 12px;
	}
	.call .day-place p:first-child {
		line-height: 9px;
	}
	.call h3 {
		font-size: 38px;
		margin-bottom: 14px;
		padding-top: 25px;
	}
	.intro p {
		line-height: 28px;
		width: 90%;
	}
	.event-content img {
		margin: 35px auto;
		max-width: 93%;
		height: auto;
	}
	.content-items {
		float: none;
		margin-left: 0;
	}
	.map {
		max-height: 358px;
	}
	.map .address {
		width: 94%;
		padding-top: 18px;
		height: 66px;
	}
	.map p {
		margin-left: 98px;
	}
	.map h4 {
		font-size: 29px;
		padding: 46px 8px;
	}
	.map p {
		margin-left: 87px;
	}
	.point-4dic .address {
		padding-top: 36px;
		height: 49px;
	}
	.point-3dic, .point-4dic {
		margin-bottom: 31px;
	}
	.sponsors ul {
		min-height: 68px;
	}
	.sponsors .diammond {
		min-height: 87px;
	}
	.sponsors .diammond img {
		max-width: 79%;
	}
	.sponsors img {
		max-width: 85%;
	}
	.mail-sponsor h3 {
		font-size: 16px;
		padding: 0;
	}
	.mail-sponsor p {
		font-size: 15px;
	}
	.footer h3 {
		font-size: 12px;
		line-height: 16px;
		width: 51%;
		margin: 0 auto;
	}
	.footer .ux-txt {
		margin-bottom: 9px;
	}
	.footer p {
		font-size: 10px;
		line-height: 15px;
		margin-top: 7px;
	}
}