/* #Media Queries
================================================== */

.redesSocialesAlt {
	display: none;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	body.home .mainhead2 h1 {
		font-size: 120px !important;
	}

	.mbody {
		width: 760px !important;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		zoom: 1;
	}
	.layoutContentEtc {
		width:760px !important;
	}
	.colContent {
		float:left;
		width:500px !important;
	}
	.colEtc {
		float:right !important;
		margin-right: 40px !important;
	}

	.home .topmap {
		position: absolute;
		bottom: 6pt;
		width: 148px;
		height: 148px;
		right: 40px;
	}

	UL#nav1, UL#nav1 LI {
		list-style:none; 
		margin:0; 
		padding:0; 
	}
	UL#nav1 LI { 
		display:inline !important; 
		padding-right:20pt; 
		font-size:14pt; 
	}
	UL#nav1 LI A { 
		text-decoration:none; 
		color: #000; 
	}

	.home .topmap {
		position: absolute;
		bottom: 6pt;
		width: 148px;
		height: 148px;
	}

	#fixedtableheader0 {
		display: none !important;
	}

	table.programa a {
		font-weight: bold;
		text-decoration: underline !important;
		color: 000;
	}

	.navactividades {
		background: #DDD;
		overflow: visible !important;
		width: 100% !important; /*550px*/
		height: 28px;
		font-size: 14pt;
		margin-bottom: 55px !important;
	}

	.navactividades .nav1 {
		float: left !important;
		width: 80% !important; /*470px*/
		height: 28px;
	}
}




/* Tablet Portrait size */
/* Para 600x800  */
@media only screen and (min-width: 550px) and (max-width: 700px) {
	body.home .mainhead2 h1 {
		font-size: 120px !important;
	}

	.mbody {
		width: 550px !important;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		zoom: 1;
	}
	.layoutContentEtc {
		width:550px !important;
	}
	.colContent {
		float:left;
		width:550px !important;
	}
	.colEtc {
		float:left !important;
	}
	.mainhead .coletc {
		margin-top: 15px;
		text-align: left !important;
	}
	div.redesSociales {
		position: absolute;
		text-align: right !important;
		right: 0;
		margin: 0 !important;
	}
	UL#nav1, UL#nav1 LI {
		list-style:none; 
		margin:0; 
		padding:0; 
	}
	UL#nav1 LI { 
		display:inline !important; 
		padding-right:20pt; 
		font-size:14pt; 
	}
	UL#nav1 LI A { 
		text-decoration:none; 
		color: #000; 
	}

	.topmap { 
		display: none; 
	}

	.navactividades {
		background: #DDD;
		overflow: hidden;
		width: 550px !important;
		height: 28px;
		font-size: 14pt;
		margin-bottom: 55px !important;
	}

	.navactividades .nav1 {
		float: left;
		width: 470px !important;
		height: 28px;
	}

	.mainhead3 a { 
		text-decoration: underline !important; 
	}

	ul.logos li {
		float: left !important;
		width: 200px !important;
	}

	ul.logos li ul {
		float: left !important;
		width: 200px !important;
	}
	ul.logos li ul h4 {
		width: 200px !important;
	}

	.centrarLogos {
		width: 600px !important;
	}

	#fixedtableheader0 {
		display: none !important;
	}

	table.programa a {
		font-weight: bold;
		text-decoration: underline !important;
		color: 000;
	}
}



/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}




/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body.home .mainhead2 h1 {
		font-size: 120px !important;
	}

	.mbody {
		width: 760px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		zoom: 1;
	}
	.layoutContentEtc {
		width:760px;
	}
	.colContent {
		float:left;
		width:500px;
	}
	.colEtc {
		float:right;
		margin-right: 40px !important;
	}

	.home .topmap {
		position: absolute;
		bottom: 6pt;
		width: 148px;
		height: 148px;
		right: 40px;
	}

	UL#nav1, UL#nav1 LI {
		list-style:none; 
		margin:0; 
		padding:0; 
	}
	UL#nav1 LI { 
		display:inline !important; 
		padding-right:20pt; 
		font-size:14pt; 
	}
	UL#nav1 LI A { 
		text-decoration:none; 
		color: #000; 
	}

	.home .topmap {
		position: absolute;
		bottom: 6pt;
		width: 148px;
		height: 148px;
	}

	.mainhead,
	.mainhead2,
	.mainhead3,
	.mainbody {
		padding-left: 20px !important;
	}

	#fixedtableheader0 {
		display: none !important;
	}

	table.programa a {
		font-weight: bold;
		text-decoration: underline !important;
		color: 000;
	}
}




/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body.home .mainhead2 h1 {
		font-size: 80px !important;
	}

	.mainhead, .mainhead1 {
	    background: none repeat scroll 0 0 #E6E6E6;
	    padding: 10pt 0 0 0 !important;
	}

	.home .mainhead2 .p1 {
		font-size: 24px !important;
	}
	.home .mainhead2 .p2 {
		font-size: 21px !important;
	}
	.home .mainhead2 .p3 {
		font-size: 15px !important;
	}
	.home .mainhead2 .p4 {
		font-size: 18px !important;
	}

	.mainhead2 .p1 {
		margin: 0 !important;
	}

	.mainhead2 .p4 {
		margin-top: 10px !important;
		font-size: 18px !important;
	}

	.mbody {
		width: 300px !important;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		zoom: 1;
	}
	.layoutContentEtc {
		width:300px !important;
	}
	.colContent {
		float:left;
		width:300px !important;
	}
	.colEtc {
		float:left !important;
	}

	UL#nav1, UL#nav1 LI {
		list-style:none; 
		margin:0; 
		padding:0; 
	}
	UL#nav1 LI {  
		display:block; 
		padding: 5pt 20pt 5pt 0; 
		font-size:14pt; 
	}
	UL#nav1 LI A {
		display: block;
	}

	.topmap { 
		display: none; 
	}

	.mainhead3 a { 
		text-decoration: underline !important; 
	}

	.mainhead .coletc {
		text-align: left;
	}

	.redesSociales {
		position: absolute;
		text-align: right !important;
		right: 0;
		margin: 0 !important;
	}

	/* Tabla Responsive */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
		display: none;
	}
	td {
		position: relative;
		padding-left: 50%; 
	}
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	#fixedtableheader0 {
		display: none !important;
	}

	table.programa a {
		font-weight: bold;
		text-decoration: underline !important;
		color: 000;
	}

	table.programa th, table.programa td{
		border: none !important;
	}

	table.programa th {
		background: #CCCCCC !important;
	}

	H2.disertante STRONG {
	  font-size: 18pt !important;
	}

	H2.actividad {
	  font-size: 15pt !important;
	  line-height: 20pt !important;
	  line-height: 30pt;
	  margin: 0 0 12pt !important;
	}

	.jobtitle {
		font-size: 16pt !important;
		line-height: 100% !important;
	}

	.navactividades {
		background: #DDD;
		overflow: visible !important;
		width: 100% !important; /*550px*/
		height: 28px;
		font-size: 14pt;
		margin-bottom: 55px !important;
	}

	.navactividades .nav1 {
		width: 470px !important; /*470px*/
		height: 28px;
	}

	.navActividades .controls {
	    float: none !important;
		margin: 0 !important;
		position: relative;
		text-align: left !important;
		top: 35%;
		left: -1%;
	}

	TABLE.programa TH, TABLE.programa TD {
		font-size: 12pt !important;
	}

	#ajusteResponsive {
		font-size: 21pt !important;
		line-height: 29pt !important;
	}

	#ajusteResponsive2 {
		font-size: 15pt !important;
	}
}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* Solo si esta en "orientation: landscape" */
@media only screen and (max-width: 479px) and (orientation: landscape) {
	body.home .mainhead2 h1 {
		font-size: 80px !important;
	}

	.mainhead, .mainhead1 {
	    background: none repeat scroll 0 0 #E6E6E6;
	    padding: 10pt 0 0 0 !important;
	}

	.home .mainhead2 .p1 {
		margin-top: 1px !important;
		font-size: 24px !important;
	}
	.home .mainhead2 .p2 {
		font-size: 20px !important;
	}
	.home .mainhead2 .p3 {
		font-size: 17px !important;
	}
	.home .mainhead2 .p4 {
		font-size: 19px !important;
	}

	.mainhead2 .p1 {
		margin: 0 !important;
	}

	.mainhead2 .p4 {
		font-size: 17px !important;
	}

	.mbody {
		width: 450px !important;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		zoom: 1;
	}
	.layoutContentEtc {
		width:450px !important;
	}
	.colContent {
		float:left;
		width:450px !important;
	}
	.colEtc {
		float:left !important;
	}

	UL#nav1, UL#nav1 LI {
		list-style:none; 
		margin:0; 
		padding:0; 
	}
	UL#nav1 LI { 
		display:inline !important; 
		padding: 0 20pt 0 0 !important; 
		font-size:13pt !important;
	}
	UL#nav1 LI A { 
		display:inline !important; 
		text-decoration:none; 
		color: #000; 
	}

	.redesSociales {
		position: absolute;
		text-align: right !important;
		right: 0;
		margin: 0 !important;
	}

	.topmap { 
		display: none; 
	}

	.mainhead3 a { 
		text-decoration: underline !important; 
	}

	.mainhead .coletc {
	}

	ul.logos li {
		float: left !important;
		width: 200px !important;
	}

	ul.logos li ul {
		float: left !important;
		width: 200px !important;
	}

	ul.logos li ul:nth-child(2) {
		float: left !important;
		width: 200px !important;
		min-height: 201px;
	}
	ul.logos li ul:nth-child(5) {
		float: left !important;
		width: 200px !important;
		min-height: 235px !important;
	}

	ul.logos li ul h4 {
		width: 200px !important;
	}

	.centrarLogos {
		width: 460px !important;
	}

	/* Tabla Responsive */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
		display: none;
	}
	td {
		position: relative;
		padding-left: 50%; 
	}
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	#fixedtableheader0 {
		display: none !important;
	}

	table.programa a {
		font-weight: bold;
		text-decoration: underline !important;
		color: 000;
	}

	table.programa th, table.programa td{
		border: none !important;
	}

	table.programa th {
		background: #CCCCCC !important;
	}

	H2.disertante STRONG {
	  font-size: 18pt !important;
	}

	H2.actividad {
	  font-size: 15pt !important;
	  line-height: 20pt !important;
	  line-height: 30pt;
	  margin: 12pt 0;
	}

	.jobtitle {
		font-size: 16pt !important;
		line-height: 150% !important;
	}

	TABLE.programa TH, TABLE.programa TD {
		font-size: 12pt !important;
	}

	#ajusteResponsive {
		font-size: 21pt !important;
		line-height: 29pt !important;
	}

	#ajusteResponsive2 {
		font-size: 15pt !important;
	}
	
}